@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: Arial;
    margin: 0;
    padding: 0;
}

  .contnt {
    max-width: 1800px; /* Largura máxima do conteúdo */
    margin: 0 auto; /* Centralize o conteúdo na tela */
    padding: 20px; /* Espaçamento interno da área de conteúdo */
    background-color: #fbe2c9; /* Cor de fundo da área de conteúdo */
  }

.navbar {
    max-width: 1100px; /* Largura máxima do conteúdo */
    margin: 0 auto; /* Centralize o conteúdo na tela */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fbe2c9; /* Cor de fundo da navbar, se desejar */
    padding: 10px 20px; /* Espaçamento interno da navbar */
    
}

.navbar a{
    color: black; /* Define a cor do texto dos links */
    text-decoration: none;
    font-weight: bold
}

.logo {
    max-width: 30px; /* Largura máxima da imagem */
    height: auto; /* Altura automática para manter a proporção da imagem */
}

ol {
    list-style-type: none;
  }

ol li {
    display: inline-block;
    margin-right: 10px; /* Espaçamento entre os marcadores */
  }

.favoritos {
    max-width: 38px; /* Largura máxima da imagem */
    height: auto; /* Altura automática para manter a proporção da imagem */
    
}

.usuario {
    max-width: 42px; /* Largura máxima da imagem */
    height: auto; /* Altura automática para manter a proporção da imagem */
    display: block; /* Faz a imagem se comportar como um bloco */
    margin-top: 0px;
}

.compras {
    max-width: 38px; /* Largura máxima da imagem */
    height: auto; /* Altura automática para manter a proporção da imagem */
}

.faixa-verde {
    background-color: #264218; /* Cor de fundo da faixa */
    color: #fff; /* Cor do texto dentro da faixa */
    padding: 100px; /* Espaçamento interno da faixa */
    text-align: center; /* Centraliza o texto horizontalmente */
    font-size: 18px; /* Tamanho da fonte do texto */
    border-radius: 10px;
}

.destaq{
    font-size: 52px; /* Tamanho grande do texto */
    font-weight: bold; /* Texto em negrito */
    margin-bottom: 0;
    margin-top: -7px;
}

.sub{
    color: black; /* Define a cor do texto dos links */
    text-decoration: none;
    font-weight: bold;
    margin: 0;
    text-align: center;
    font-size: 38px;
}
  
  .rodape {
    background-color: #264218; /* Cor de fundo da faixa */
    color: #fff; /* Cor do texto dentro da faixa */
    padding: 20px; /* Espaçamento interno da faixa */
    font-size: 18px; /* Tamanho da fonte do texto */
    display: flex; /* Utiliza o layout flexível */
    justify-content: center; /* Distribui as colunas uniformemente */
    margin: 0 auto;
    border-radius: 10px
  }

  .coluna {
    flex: 1; /* Ajusta a largura das colunas para distribuir igualmente */
    padding: 20px; /* Espaçamento interno das colunas */
    margin-left: 8%
    
  }

  .item {
    margin-bottom: 10px; /* Espaçamento inferior entre os itens */
  }

  /* Estilo para destacar a primeira linha de cada coluna */
  .item:nth-of-type(1) {
    margin-bottom: 20px; /* Espaçamento maior para a primeira linha */
    font-weight: bold; /* Texto em negrito */
  }

  .sobrenos{
    max-width: 800px; /* Defina a largura máxima do conteúdo */
    margin: 0 auto; /* Centralize o conteúdo horizontalmente */
    padding: 0 20px; /* Adicione margem à esquerda e à direita */
  }

  .loc{
    max-width: 400px; /* Largura máxima da imagem */
    height: auto; /* Altura automática para manter a proporção */
    margin-left: 0%;
    border-radius: 20px;
  }